@font-face {
    font-family: 'coca_cola';
    src: url('coca.ttf');
}

@font-face {
    font-family: '华康俪金黑W8';
    src: url('华康俪金黑W8.TTF');
}

@font-face {
    font-family: 'cambria';
    src: url('cambriab.ttf');
}